.results-panel-container {
  container-type: inline-size;
  container-name: results-panel;

  .results-panel {
    --results-panel-column-gap: 0.5rem;

    column-gap: var(--results-panel-column-gap);
    display: grid;
    grid-template-columns: 1fr var(--results-field-width) var(--unit-width, 2ch);

    .results-panel-label {
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .results-panel-value {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;
      justify-self: end;
      width: var(--results-field-width);
    }
  }
}

@container results-panel (width < 15rem) {
  .results-panel-container .results-panel {
    grid-template-columns: 1fr var(--results-field-width) var(--unit-width, 2ch);
    grid-template-rows: 1fr 1fr;

    .results-panel-label {
      grid-column: 1 / span 3;
    }

    .results-panel-value {
      grid-column: 1 / span 2;
      justify-self: end;
    }
  }
}
