.results-panel-container {
  container-type: inline-size;
  container-name: results-panel;

  .results-panel {
    --results-panel-column-gap: 0.5rem;

    column-gap: var(--results-panel-column-gap);
    display: grid;
    grid-template-columns: 1fr var(--results-field-width) var(--unit-width, 2ch);

    .results-panel-label {
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .results-panel-value {
      background-color: var(--color-disabled-light);
      border: 1px solid var(--color-disabled);
      border-radius: 0.125rem;
      font-weight: bold;
      justify-self: end;
      pointer-events: none;
      text-align: end;
      width: var(--results-field-width);

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;

      &.correct {
        border: 2px solid var(--color-correct);
        color: var(--color-correct);
      }

      &.wrong {
        border: 2px solid var(--color-wrong);
        color: var(--color-wrong);
      }
    }
  }
}

@container results-panel (width < 15rem) {
  .results-panel-container .results-panel {
    grid-template-columns: 1fr var(--results-field-width) var(--unit-width, 2ch);
    grid-template-rows: 1fr 1fr;

    .results-panel-label {
      grid-column: 1 / span 3;
    }

    .results-panel-value {
      grid-column: 1 / span 2;
      justify-self: end;
    }
  }
}
