.h5p-lisum-main {
  --max-input-field-digits: 5;
  --number-spinner-slack: calc(2ex + 15px);
  --input-field-width: calc(var(--max-input-field-digits) * 1ch + var(--number-spinner-slack));
  --max-result-digits: 5;
  --results-field-width: max(var(--input-field-width), calc(var(--max-result-digits) * 1ch));

  display: flex;
  flex-direction: column;

  .h5p-lisum-slider-panels {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .h5p-lisum-results-panels {
    border-top: 1px solid var(--color-shadow-light);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}
